/* Put your style information here! */

@font-face {
  font-family: Sectra;
  src: url("static/fonts/GT-Sectra-Display-Trial-Super-Italic.otf") format("opentype");
}

body {
  font-family: "Roboto";
}

.navbar {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  /* margin-bottom: 40px; */
}

.home {
  height: 100vh;
}

.hello {
  height: calc(100vh - 94px);
}

.hi {
  width: 60%;
}

.hi-text {
  /* font-family: "Sectra"; */
  font-family: "Playfair Display";
  font-size: 50px;
  font-weight: 700;
  font-style: italic;
  /* -webkit-text-stroke: black 1px;
  color: transparent; */
  color: #ff988d;
}

/* .whoa {
  width: 100%;
} */

.about {
  height: 100vh;
}

.title-text {
  /* font-family: "Sectra"; */
  font-family: "Playfair Display", serif;
  font-size: 100px;
  font-style: italic;
  /* -webkit-text-stroke: black 1px;
  color: transparent; */
  width: 80%;
  color: #ff988d;
  /* color: #FD2B81; */
}

.about-me-text {
  min-width: 180px;
}

.about-content {
  width: 60%;
  margin-top: 5rem;
}

.resume {
  width: 100%;
}

.work-headers {
  border-right: black solid 0.5px;
  font-family: "Playfair Display", serif;
  font-weight: medium;
  font-style: regular;
  color: #FD2B81;
}

hr {
  margin-left: 50px;
  width: 100%;               
  background-color: black;
  /* height: 0.8px; */
}

.work-items {
  margin-left: 5%;
}

li {
  margin-top: 0.5rem;
}

.ho {
  /* background-color: pink; */
}

.say-hi {
  height: 100vh;
  padding-left: 10%;
  padding-bottom: 20vh;
}

.say-hi-text {
  width: 70%;
}